<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.dao.PaymentDao">
    <insert id="create" parameterType="com.star.entites.Payment" useGeneratedKeys="true">
        insert into payment(serial) value('${serial}');
    </insert>
    <resultMap id="BaseResultMap" type="com.star.entites.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentById" parameterType="java.lang.Long" resultMap="BaseResultMap">
           select * from payment where id = #{id};
    </select>
</mapper>